@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Circe Regular";
    src: url("../public/fonts/Circe-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@layer components {
    .btn-nav {
        @apply flex justify-center items-center text-[26px] lg:text-[20px] mx-4 my-2  rounded-md;
    }
    .btn {
        @apply py-[1rem] px-[2rem];
    }
    .main {
        @apply mx-10;
    }
}

body {
    /* padding: 0 300px; */
    font-family: "Circe Regular";
}
